.customer__container {
  padding-top: 104px;
  padding-bottom: 94px;
}

.customer__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: var(--text-align);
  letter-spacing: var(--letter-spacing-main);
  color: var(--second-title-color);
}

.customer__list {
  display: flex;
}

.customer__item:not(:last-child) {
  margin-right: 30px;
}

.customer__link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  border-radius: var(--border-radius-main);
  border: var(--border) #afb1b8;
  transition-property: color, border, outline-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
    border: var(--border) var(--accent-color);
    outline-color: var(--accent-color);
  }
}

.customer__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
