.features__section {
  padding-bottom: 0px;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.features__item {
  // flex-basis: calc(100% / 4);
  @media screen and (min-width: 480px) {
    width: calc((100% - 15px) / 1);
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
  // &:not(:last-child) {
  //   margin-right: 30px;

  &::before {
    content: "";
    display: block;
    height: 120px;
    margin-bottom: 30px;
    border-radius: var(--border-radius-main);
    background-color: #f5f4fa;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
  }
}

.icon--antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon--clock::before {
  background-image: url(../images/clock.svg);
}

.icon--diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon--astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.features__title {
  font-size: var(--font-size-second);
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--second-title-color);
}

.features__about {
  margin-top: 10px;
  font-size: var(--font-size-second);
  line-height: 1.71;
  color: var(--main-text-color);
}
