:root {
  --main-btn-color: #ffffff;
  --second-btn-color: #212121;
  --accent-color: #2196f3;
  --accent-second-color: #188ce8;
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --main-link-color: #212121;

  --background-color-light: #ffffff;
  --background-color: #2f303a;

  --font-size-main: 16px;
  --font-size-second: 14px;
  --font-weight-bold: 700;
  --font-family-roboto: "Roboto";
  --font-family-raleway: "Raleway";

  --border-radius-main: 4px;
  --border: 1px solid;

  --letter-spacing-main: 0.03em;
  --text-align: center;

  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
